@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "We're a what?";
}

<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <title>@Page.Title - Yer a wizzard harry</title>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
</body>

