@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "We're a what?";
    PageData["current"] = "About";
}

<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <title>@Page.Title - Yer a wizzard harry</title>
    <link rel="stylesheet" href="~/Scripts/Layout.css" type="text/css" />
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div class="container">

        <!-- Heading -->
        <h1 class="my-5">
            Info <br />
            <small>About</small>
        </h1>

        <!-- Us -->
        <div class="row">
            <div class="col-md-4">
                <a href="#">
                    <img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/500x250" alt="">
                </a>
            </div>
            <div class="col-md-8">
                <br />
                <h3>About Us</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.</p>
                <a class="btn btn-primary" id="abtBtn" href="#">Button</a>
            </div>
        </div>
        <!-- row -->
        <br />
        <hr>
        <br />
        <!-- The Team -->
        <div class="row">
            <div class="col-md-4">
                <a href="#">
                    <img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/500x250" alt="">
                </a>
            </div>
            <div class="col-md-8">
                <br />
                <h3>About The Team</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.</p>
                <a class="btn btn-primary" id="abtBtn" href="#">Button</a>
            </div>
        </div>
        <!-- row -->
        <br />
        <hr>
        <br />
        <!-- The Project -->
        <div class="row">
            <div class="col-md-4">
                <a href="#">
                    <img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/500x250" alt="">
                </a>
            </div>
            <div class="col-md-8">
                <br />
                <h3>About The Project</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.</p>
                <a class="btn btn-primary" id="abtBtn" href="#">Button</a>
            </div>
        </div>
        <!-- row -->
        <br />
        <hr>
        <br />
        <!-- etc. -->
        <div class="row">
            <div class="col-md-4">
                <a href="#">
                    <img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/500x250" alt="">
                </a>
            </div>
            <div class="col-md-8">
                <br />
                <h3>Etc.</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.</p>
                <a class="btn btn-primary" id="abtBtn" href="#">Button</a>
            </div>
        </div>
        <!-- row -->
    </div>
</body>

