@keyframes placeholder {
    from {}
    to {}
}


#Logo {
    cursor: pointer;
}
#Logo:hover {
    background: none;
}

.nav-space {
    padding-left: 6px;
}
@media only screen and (max-width: 991px) {
    .nav-space {
        padding-left: 0px;
    }
}

.nav-link:hover {
    border-radius: 12px;
    background-color: #2c3237;
}

.dropdown-menu {
    background-color: #343a40;
}

.dropdown-item:hover {
    color: white;
    background-color: #2c3237;
}

#loginbtn {
    color: #dc3545;
    padding: 4px;
    padding-left: 5px;
    padding-right: 5px;
}
#loginbtn:hover {
    color: white;
    border-color: #dc3545;
}

#registerbtn {
    color: #00b1ff;
    text-decoration: underline;
    cursor: pointer;
    border: none;
    padding: 4px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0px;
}
    #registerbtn:hover {
        color: white;
        background-color: #00a9ff;
        text-decoration: none;
    }

#footer {
    background-color: #343a40;
}

#social-ic {
    color: white;
    background-color: #343a40;
    font-size: 30px;
    border-radius: 100px;
    padding: 2px;
    padding-left: 8.875px;
    padding-right: 8.875px;
}
    #social-ic:hover {
        color: #343a40;
        background-color: white;
    }
#twitter-ic {
    color: white;
    background-color: #343a40;
    font-size: 30px;
    border-radius: 100px;
    padding: 2px;
    padding-left: 7px;
    padding-right: 7px;
}
    #twitter-ic:hover {
        color: #343a40;
        background-color: white;
    }


#socialClean {
    color: white;
    background-color: #343a40;
}
    #socialClean:hover {
        color: white;
        
    }

#footerTxt {
    color: #cccccc;
    background-color: #343a40;
}
    #footerTxt:hover {
        color: #cccccc;
        background-color: #343a40;
    }

#footerRedirect {
    color: #999999;
    background-color: #343a40;
}
    #footerRedirect:hover {
        color: #999999;
        background-color: #343a40;
    }

#wizard {
    color: #cccccc;
    background-color: #343a40;
}
    #wizard:hover {
        color: #cccccc;
        background-color: #343a40;
    }


/* About Page */
#abtBtn {
    color: white;
}

    #abtBtn:hover {
    }